
# build & dependencies
**/node_modules/
packages/vscode-elizabeth/out
**/*.vsix
**/package-lock.json
dist/
.elizabeth/
.elizabeth-*/
**/.env
build/

# test
TODO.md
**/tmp*
check
blog-sqlite

# dev 
.vscode
examples/